*{
    box-sizing: border-box;
}

body{ width: 100%;
}

.header{
    color:black;
    background-color: orangered;
    font-style:normal;
    font-size:x-large;
    font-family: sans-serif;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
}

.map{
    width: 100%;
}


.grid-container{
    margin-top: 0.2rem;
    padding-top: 0.2rem;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows:90vh;
}

#grid-1{
    font-size:x-small;
    font-style:normal;
    background-color: whitesmoke;
}

#h2{
    font-size: medium;
    font-weight: bold;
    max-width: 100%;
    height: auto;
    font-weight: 500;
}

.footer{
    background-color: orangered;
    color: black;
    text-align: center;
    padding-bottom: 0.5rem;
}

.sidebar{
    font-style: normal;
    margin-right: 0.3rem;
}

.locate {
    top: 6em;
    left: .5em;
  }